* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('hom4.webp'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed; /* This ensures the background image stays fixed while scrolling */
}

.login-container {
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.forgot-password {
    margin-top: 10px;
}

.forgot-password a {
    color: #007BFF;
    text-decoration: none;
    font-size: 
